/node_modules
/client/build/images
/bin/
/angular-client/nbproject/private/
/angular-client/node_modules
/angular-client/images
*.jpg
/data/src/angular-client/images
/data/src/angular-client/cities.js
/data/src/angular-client/node_modules
*.psd
