.date-picker {
    width: 25%;
}

#datepicker-container {
  width: 100%;
}

.datepicker-input {
  cursor: pointer;
  height: 56.79px;
  width: 100%;
  border-radius: 29px;
  background-color: rgba(250, 250, 250, 1);
  border: 1px solid royalblue;
}

.datepicker-icon {
  position: relative;
  left: 85%;
  top: -47px;
  font-size: xx-large;
  cursor: pointer;
}

.calendar-container {
  background-color: white;
  border: 1px solid black;
  height: 275px;
  text-align: -webkit-center;
  font-size: 1.1em;
  position: relative;
  top: -30px;
}

.datepicker-close {
  float: right;
  cursor: pointer;
  margin-right: 10px;
  font-size: 1.2em;
}

.calendar-title-container {
  margin-top: 30px;
}

.calendar-arrow {
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.calendar-left-arrow {
  float: left;
  margin-left: 50px;
}

.calendar-right-arrow {
  float: right;
   margin-right: 50px;
}

.calendar-title {
  width: 150px;
  display: inline-block;
}


.calendar-weekend {
    color: red;
}

.calendar-td {
  text-align: -webkit-center;
  height: 29px;
  width: 30px;
}

.calendar-td:hover {
   background-color: blue;
   color: white;
   cursor: pointer;
}

.calendar-out-month {
    color: gray;
}

.calendar-past {
  cursor: not-allowed !important;
}

.calendar-past:hover {
  background-color: white;
  color: black;
  cursor: not-allowed;
}

.calendar-selected {
  border: 1px solid green;
}