.inspiration-container-small {
  width: 98%;
  margin: 20px auto;
  text-align: center;
}

.isnpiration-name-small {
  font-family: 'Josefin Slab', serif;
  color: brown;
}

.inspiration-photo-small {
  width: 90%;
}

.arrows-container-small {
  color: darkorange;
  font-size: 4em;
  cursor: pointer;
  margin-top: 5px;
  text-align: center;
}

.inspiration-description-small {
  width: 90%;
  text-align: left;
  margin: auto;
}

.inspiration-history-small {
  max-height: 260px;
  overflow-y: scroll;
}

.inspiration-activities-small {
  width: 98%;
  margin: 10px auto;
  text-align: left;
}

.inspiration-activities-heading-small {}

.inspiration-activities-address-small {}

.inspiration-activities-photo-small {
  width: 56%;
  float: left;
  margin: 10px 10px 5px 1px;
}

.inspiration-activities-description-small {
  margin-top: 10px;
}

.inspiration-menu-small {
  display: flex;
  justify-content: space-between;
  border: 2px solid;
  margin: 16px auto;
  height: 65px;
}

.inspiration-menu-element-small {
  border-left: 1px solid black;
  text-align: center;
  padding: 3%;
  cursor: pointer;
  color: darkorange;
}

.inspiration-button-small {
  height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  background-color: darkorange;
  color: white;
  padding: 0 22px;
  cursor: pointer;
}

.inspiration-search-small {
  margin-right: 5%;
}

.inspiration-toggle {}


/*Medium Size*/

@media screen and (min-width: 800px) {
  #inspirations-container {
    display: grid;
    grid-template-columns: [first] 13% [line2] 85%;
    grid-template-rows: [row1-start] 100px [row1-end] 650px;
  }
  .inspirations-side-nav-container {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
  }
  .inpsirations-top-nav-container {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    border-bottom: 1px solid black;
  }
  .inspirations-top-nav {}
  .inpsirations-top-ul {
    display: flex;
    justify-content: space-around;
    height: 100%;
  }
  .inspiration-top-li {
    padding: 4%;
    font-family: 'Josefin Slab', serif;
    color: chocolate;
    font-size: x-large;
    cursor: pointer;
  }
  .inspiration-container {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .inspiration-gallery {
    display: flex;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
  }
  .inspiration-photo {
    width: 33%;
    height: 224px;
    margin: 1%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    border-radius: 5px 5px;
  }
  .inspirations-side-nav-container {
    border-right: 1px solid black;
  }
  .inspirations-side-nav {
    height: 100%;
    padding-top: 85px;
  }
  .inspirations-side-nav-ul {
    height: 100%;
  }
  .inspirations-side-nav-li {
    font-family: 'Josefin Slab', serif;
    white-space: nowrap;
    -webkit-transform: translate(1.1em, 0) rotate(90deg);
    -moz-transform: translate(1.1em, 0) rotate(90deg);
    -o-transform: translate(1.1em, 0) rotate(90deg);
    transform: translate(1.1em, 0) rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -ms-transform: none;
    -ms-transform-origin: none;
    -ms-writing-mode: tb-rl;
    *writing-mode: tb-rl;
    color: chocolate;
    font-size: 1.4em;
    height: 20%;
    cursor: pointer;
  }
  .inspiration-description {
    width: 90%;
    text-align: left;
    margin: 10% auto;
    line-height: 1.3em;
    font-size: 1.2em;
    font-family: sans-serif;
  }
  .inspiration-history {
    width: 90%;
    text-align: left;
    margin: 10% auto;
    line-height: 1.3em;
    font-size: 1.2em;
    font-family: sans-serif;
  }
  .inspiration-activities {
    width: 98%;
    margin: 10px auto;
    text-align: left;
    padding: 1%;
  }
  .inspiration-activities-photo {
    width: 56%;
    float: left;
    margin: 10px 10px 5px 1px;
  }
  .inspiration-activities-description {
    margin-top: 10px;
  }
  .arrows-container {
    color: darkorange;
    font-size: 4em;
    cursor: pointer;
    margin-top: 5px;
    text-align: center;
  }
  .inspiration-weather {}
  .selected {
    color: white !important;
    text-shadow: 0px -1px 3px black;
  }
}

@media screen and (min-width: 1500px) {
  #inspirations-container {
    display: grid;
    grid-template-columns: [first] 6% [line2] 94%;
    grid-template-rows: [row1-start] 100px [row1-end] 750px;
  }
  .inspirations-side-nav-container {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
  }
  .inpsirations-top-nav-container {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    border-bottom: 1px solid black;
  }
  .inspirations-top-nav {}
  .inpsirations-top-ul {
    display: flex;
    justify-content: space-around;
    height: 100%;
  }
  .inspiration-top-li {
    padding: 2%;
    font-family: 'Josefin Slab', serif;
    color: chocolate;
    font-size: x-large;
    cursor: pointer;
  }
  .inspiration-container {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .inspiration-gallery {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: space-around;
  }
  .inspiration-photo {
    width: 14%;
    height: 206px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    border-radius: 5px 5px;
  }
  .inspirations-side-nav-container {
    border-right: 1px solid black;
  }
  .inspirations-side-nav {
    height: 100%;
    padding-top: 85px;
  }
  .inspirations-side-nav-ul {
    height: 100%;
  }
  .inspirations-side-nav-li {
    font-family: 'Josefin Slab', serif;
    white-space: nowrap;
    -webkit-transform: translate(1.1em, 0) rotate(90deg);
    -moz-transform: translate(1.1em, 0) rotate(90deg);
    -o-transform: translate(1.1em, 0) rotate(90deg);
    transform: translate(1.1em, 0) rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -ms-transform: none;
    -ms-transform-origin: none;
    -ms-writing-mode: tb-rl;
    *writing-mode: tb-rl;
    color: chocolate;
    font-size: 1.4em;
    height: 20%;
    cursor: pointer;
  }
  .inspiration-description {
    width: 50%;
    text-align: left;
    line-height: 1.4em;
    font-size: 1.3em;
    font-family: sans-serif;
    margin: 4% auto;
  }
  .inspiration-history {
    width: 50%;
    text-align: left;
    line-height: 1.4em;
    font-size: 1.3em;
    font-family: sans-serif;
    margin: 4% auto;
  }
  .full-icon {
    color: chocolate;
    font-size: 2em;
    position: relative;
    top: -30px;
    left: 48%;
  }
  .inspiration-activities {
    width: 70%;
    margin: 10px auto;
    text-align: left;
    padding: 1%;
  }
  .inspiration-activities-photo {
    width: 510px;
    height: 340px;
    float: left;
    margin: 10px 10px 5px 1px;
  }
  .inspiration-activities-description {
    margin-top: 10px;
    width: 84%;
  }
  .arrows-container {
    color: darkorange;
    font-size: 4em;
    cursor: pointer;
    margin-top: 5px;
    text-align: center;
  }
  .inspiration-weather {}
  .selected {
    color: white !important;
    text-shadow: 0px -1px 3px black;
  }
  .big-photo {
    position: absolute;
    left: 28%;
    width: 50%;
    height: 50%;
    z-index: 1000;
    border-radius: 10px 10px;
    box-shadow: -1px 0px 5px black;
    opacity: .9;
  }

}
