* {
    margin: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

ul {
   list-style: none; 
}

.menu {
    font-family: 'Forum', cursive;
    font-size: 3em;
}
#nav-container-full {
    display: flex;
    text-align: center;
    border-bottom: 2px solid black;
    positon: fixed;
    z-index: 1000;
}

#logo-nav-full {
    font-family: 'Archivo Black', sans-serif;
    color: blue;
    font-size: 4em;
    letter-spacing: 4px;
    flex-grow: 2;
}

#nav-full-1,
#nav-full-2 {
    flex-grow: 1;
}

#nav-full-1 > ul,
#nav-full-2 > ul {
    display: flex;
}

#nav-container-full li {
    margin-left: 50px;
    padding-top: 17px;
}

#nav-container-full a:hover {
    color: white;
    text-shadow: 1px 1px 5px black;
}


