* {
    margin: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

ul {
   list-style: none; 
}

.menu {
    font-family: 'Forum', cursive;
}


.menu-heading-small {
    padding-bottom: 5px;
    padding-top: 5px;
}

#logo-heading-small {
    font-family: 'Archivo Black', sans-serif;
    color: blue;
    font-size: 2em;
    float: right;
    margin-right: 5%;
}

#nav-small {
    padding-top: 5px;
    padding-bottom: 15px;
    border-bottom: 1.5px solid black;
    background-color: rgba(255,255,255,.8);
    position: absolute;
    width: 100%;
    z-index: 1000;
}

#nav-small ul {
    padding: 0;
    text-align: center;
}

#nav-small ul li a {
    font-size: 2em;
    display: block;
    line-height: 1.6em;
}

#nav-small ul li a:hover {
    background-color: black;
    color: white;
}

.splash-container-small {
    background-image: url("./../../../images/sky.jpg");
    background-size: cover;
    height: 400px;
}

/*Medium Size*/
@media screen and (min-width: 800px) {
    #nav-container-medium {
        display: flex;
        padding-bottom: 1em;
        padding-top: .4em;
        border-bottom: 2px solid black;
    }
    
    .menu {
        font-size: 1.5em;
    }
    
    #logo-nav-medium {
        flex-grow: 1;
        font-size: 1.5em;
        color: blue;
        margin-left: 25px;
    }
    
    #nav-container-medium ul {
        display: flex;
        flex-grow: 4;
    }
    
    #nav-container-medium ul li {
        margin-right: 20px;
    }
    
    #nav-container-medium ul li a:hover {
        color: purple;
    }
    
    .splash-container-medium {
      background-image: url("./../../../images/sky.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 700px;
    }   
}

/*@media screen and (min-width: 1000px) {
    #logo-nav-medium {
        font-size: 2em;
    }
    
    .menu {
        font-size: 2em;
    }
     
}*/
/*------------------*/

/*Full Size*/
@media screen and (min-width: 1200px) {
  #nav-container-full {
    display: flex;
    text-align: center;
    border-bottom: 2px solid black;
    positon: fixed;
    z-index: 1000;
    padding-bottom: 1em;
  }
  .menu {
    font-family: 'Forum', cursive;
    font-size: 2em;
  }
  
  #logo-nav-full {
     font-size: 2em;
     letter-spacing: 2px;
     margin-left: 10px;
     font-family: 'Archivo Black', sans-serif;
     color: blue;
     flex-grow: 3;
  }
  
#nav-full-1,
#nav-full-2 {
    flex-grow: 1;
}

#nav-full-1 > ul,
#nav-full-2 > ul {
    display: flex;
}

#nav-container-full li {
    margin-left: 50px;
    padding-top: 17px;
}

#nav-container-full a:hover {
    color: white;
    text-shadow: 1px 1px 5px black;
}

  .splash-container-full {
      background-image: url("./../../../images/river.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-wrap: wrap;
    }  
    
    .splash-box-full {
        width: 50%;
        height: 50%;
    }
    
    .back-white {
        background-color: white;
    }
}

@media screen and (min-width: 1700px) {
    #logo-nav-full {
        font-size: 3em;
        letter-spacing: 4px;
    }
    
    .menu {
        font-size: 3em;
    }
}

/*---------------------------*/


