
<section *ngIf="windowSize.width < 800" id="nav-container-small">

  <section class="splash-container-small">
    <div class="menu-heading-small" [style.border-bottom]="showNav ? 'none' : '1.5px solid black' " (click)="showNav = !showNav">
      <span [style.cursor]="'pointer'" [style.float]="'right'" [style.margin-right]="'1%'"><i class="fa fa-bars fa-3x" aria-hidden="true"></i> </span>
      <span id="logo-heading-small">Travel Guide</span>
    </div>
    <nav *ngIf="showNav" class="menu" id="nav-small">
      <ul class="nav-list-small">
        <li><a class="navigation-element nav-item-small" href="#">About</a></li>
        <li><a class="navigation-element nav-item-small" href="#">Inspirations</a></li>
        <li><a class="navigation-element nav-item-small" href="#">Sign Up / Login In</a></li>
      </ul>
    </nav>
  </section>
  <nav class="bottom-menu">
    <span><a href="#form-small"><i class="fa fa-search" aria-hidden="true"></i></a></span>
    <span><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i></a></span>
    <span><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i></a></span>
    <span><a href="#inspirations-container-small"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></a></span>
  </nav>
  <section class="splash-box-small">
    <p class="splash-par-small">
      Lorem ipsum dolor sit amet, tale vocent est ei, at vim dicunt electram. Id affert mentitum vel, velit simul malorum an vel. Te putant detracto mei. Nonumy dictas possim ne nec, inani soleat no est, est at zril affert.
    </p>
  </section>

    <form id="form-small" class="form-container-small">
      <p class="input-label-small"><span><i class="fa fa-globe form-icon" aria-hidden="true"></i></span>Destination: </p>
      <input class="input-small" type="text" [(ngModel)]="destination" name="destination" required>
      <span *ngIf="!searchService.destinationCorrect" class="invalid-small">Invalid destination<i  class="fa fa-exclamation" aria-hidden="true"></i></span>
      <p class="input-label-small"><span><i class="fa fa-home form-icon" aria-hidden="true"></i></span>From: </p>
      <input class="input-small" type="text" />
      <p class="input-label-small"><span><i class="fa fa-arrow-right form-icon" aria-hidden="true"></i></span>Depart: </p>
      <my-date-picker name="departDate" [options]="departOptions" [(ngModel)]="departDateValue" (dateChanged)="onDateChanged($event)"></my-date-picker>
      <p class="input-label-small"><span><i class="fa fa-arrow-left form-icon"  aria-hidden="true"></i></span>Return: </p>
      <my-date-picker name="returnDate" [options]="returnOptions" [(ngModel)]="returnDateValue"></my-date-picker>
      <button type="submit" class="search-button-small" (click)="search()">Search <i class="fa fa-search" [style.margin-left]="'5px'" aria-hidden="true"></i></button>
    </form>
    <!-- ************* Inpsirations ********** -->
        <inspirations>loading</inspirations>
</section>

<section *ngIf="windowSize.width >= 800 && windowSize.width < 1500">
  <header id="nav-container-medium">
    <span id="logo-nav-medium">Travel Guide</span>
    <nav class="menu" id="nav-medium">
      <ul class="nav-list-medium">
        <li class="nav-list-item-medium"><a class="navigation-element" href="#">About</a></li>
        <li class="nav-list-item-medium"><a class="navigation-element" href="#">Inspirations</a></li>
        <li class="nav-list-item-medium"><a class="navigation-element" href="#">Sign Up / Login In</a></li>
      </ul>
    </nav>
  </header>
  <section class="splash-container-medium">
    <section class="splash-box-medium">
      <p class="splash-par-medium">
        Lorem ipsum dolor sit amet, tale vocent est ei, at vim dicunt electram. Id affert mentitum vel, velit simul malorum an vel. Te putant detracto mei. Nonumy dictas possim ne nec, inani soleat no est, est at zril affert.
      </p>
    </section>
  </section>
  <section class="form-container-medium">
    <form class="form-medium">
      <section class="form-medium" [style.width]="'50%'">
        <p class="input-label-medium"><span><i class="fa fa-globe form-icon" aria-hidden="true"></i></span>Destination: </p>
        <input class="input-medium" type="text" required />
        <span *ngIf="!searchService.destinationCorrect"  class="invalid-small">Invalid destination<i  class="fa fa-exclamation" aria-hidden="true"></i></span>
        <p class="input-label-medium"><span><i class="fa fa-home form-icon" aria-hidden="true"></i></span>From: </p>
        <input class="input-medium" type="text" />
      </section>
      <section class="form-medium" [style.width]="'50%'">
        <p class="input-label-medium"><span><i class="fa fa-arrow-right form-icon" aria-hidden="true"></i></span>Depart: </p>
        <my-date-picker name="departDate" [options]="departOptions" [(ngModel)]="departDateValue" (dateChanged)="onDateChanged($event)"></my-date-picker>
        <p class="input-label-medium"><span><i class="fa fa-arrow-left form-icon"  aria-hidden="true"></i></span>Return: </p>
        <my-date-picker name="returnDate" [options]="returnOptions" [(ngModel)]="returnDateValue"></my-date-picker>
      </section>
      <button type="submit" class="search-button-medium" (click)="search()">Search <i class="fa fa-search" [style.margin-left]="'5px'" aria-hidden="true"></i></button>
    </form>
  </section>
  <!--- ******************* Inpsirations ***************** -->
      <inspirations>loading</inspirations>
</section>

<section *ngIf="windowSize.width >= 1500">

  <section class="splash-container-full" [style.height]=" windowSize.height + 'px'">
    <section id="nav-container-full">
      <span id="logo-nav-full">Travel Guide</span>
      <nav class="menu" id="nav-full">
        <ul class="nav-list-full">
          <li class="nav-list-item-full"><a class="navigation-element" href="#">About</a></li>
          <li class="nav-list-item-full"><a class="navigation-element" href="#">Inspirations</a></li>
          <li class="nav-list-item-full"><a class="navigation-element" href="#">Sign Up / Login In</a></li>
        </ul>
      </nav>
    </section>
    <section  class="form-new">
          <span class="invalid-small" *ngIf="!searchService.destinationCorrect">Invalid destination<i  class="fa fa-exclamation" aria-hidden="true"></i></span>
              <input class="input-full" id="locationTextField" autocomplete="on" type="text" [(ngModel)]="destination" required /><span><i class="fa fa-map-marker input-icon fa-2x" aria-hidden="true"></i></span>
              <input class="input-full" type="text" /><span><i class="fa fa-home input-icon fa-2x" aria-hidden="true"></i></span>
              <my-date-picker class="datepicker" name="departDate" [options]="departOptions" [(ngModel)]="departDateValue" (dateChanged)="onDateChanged($event)"></my-date-picker>
              <my-date-picker class="datepicker" name="returnDate" [options]="returnOptions" [(ngModel)]="returnDateValue"></my-date-picker>
              <button type="submit" class="search-button-full" (click)="search()"><i class="fa fa-search" [style.font-size]="'x-large'" aria-hidden="true"></i></button>
    </section>
  </section>
 <!-- *************** inspirations *************** -->
     <inspirations>Loading</inspirations>
</section>
